<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>com.hnair</groupId>
		<artifactId>hnair-edms-parent</artifactId>
		<version>1.0.0-SNAPSHOT</version>
	</parent>
	<artifactId>spring-all-in-one</artifactId>
	<version>${version.all-in-one}</version>
	<packaging>jar</packaging>
	<name>${project.artifactId}-${project.version}</name>

	<dependencies>
		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-orm</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-expression</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-jdbc</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-context</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-aop</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-tx</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-beans</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-core</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-webmvc</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-web</artifactId>
		</dependency>
	</dependencies>

	<build>
		<resources>
			<resource>
				<directory>src/main/resources</directory>
				<filtering>true</filtering>
			</resource>
		</resources>
		<testResources>
			<testResource>
				<directory>src/test/resources</directory>
				<filtering>true</filtering>
			</testResource>
		</testResources>

	</build>

	<repositories>
		<repository>
			<id>koala-snapshots</id>
			<url>http://nexus.openkoala.org/nexus/content/groups/Koala-snapshots/
			</url>
		</repository>
		<repository>
			<id>koala-release</id>
			<url>http://nexus.openkoala.org/nexus/content/groups/Koala-release/
			</url>
		</repository>
		<repository>
			<id>inner-repo-snapshots</id>
			<url>http://183.233.189.114/nexus/content/repositories/hnair-edms-release/
			</url>
		</repository>
		<repository>
			<id>inner-repo-release</id>
			<url>http://183.233.189.114/nexus/content/repositories/hnair-edms-snapshots/
			</url>
		</repository>
		<repository>
			<id>offical</id>
			<url>http://repo1.maven.org/maven2</url>
		</repository>
	</repositories>

</project>